<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eat-Da-Burger</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burger.js"></script>
</head>

<body>
    <div>
        {{{ body }}}
    </div>
    <hr>
    <footer>
        <p>© Eat-Da-Burgers</p>
        </div>
    </footer>
</body>

</html>