<h2>Burgers Menu</h2>

<ul>
    {{#each burgers}}
    {{#unless this.devoured}}
    <li>
        {{this.id}}
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="true">
            <button class="btn-primary" type="submit">Devour It!</button>
        </form>

    </li>
    {{/unless}}
    {{/each}}
</ul>