<h1>Welcome to Hello Burgers!</h1>

<h2>Menu</h2>

<ul>
    <li>Cheese burger</li>
    <li>Double cheese burger</li>
    <li>Spicy chicken burger</li>
    <li>Veggie burger</li>
    <li>Fish burger</li>
    <li>Steak sandwich</li>
</ul>

<h2>Your order</h2>
<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>
<form class="create-form">

    <div class="form-group">
        <label for="bu">Don't see what you like? <br> Place an order here: </label>
        <input type="text" id="bu" name="name">

        <button type="submit">Add</button>
    </div>

</form>

<h2>Devoured it!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
</ul>